// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title-bg{
    width: 100%;
    height: 40vh;
    .head{
        width: 100%;
        height: 100%;
        background-image: image_url("1.jpg");
        background-position: center;
        background-size: cover;
    }
}