<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <%= link_to "Read more", new_path %>
        </div>
    </div>
</div>