<section class="title-bg">
    <div class="container">
        <h1>Title of the article</h1>
    </div>
</section>
<section class="article">
    <div class="container">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto ipsa sit suscipit. Sequi ab alias
            fugiat sint, magni quae, neque animi maxime libero doloribus praesentium nemo deleniti harum at nesciunt.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos eligendi quasi, nemo enim architecto
            vel tempore possimus repellat nesciunt incidunt similique vitae dolore a consequuntur. Reiciendis soluta
            asperiores fuga aut. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum veritatis
            repellendus ipsa sed ab sint corporis facilis asperiores, alias a eaque sapiente fugiat placeat excepturi
            deleniti voluptatibus vero, eius optio!
        </p>
    </div>
</section>