<section class="title-bg">
    <div class="head">

    </div>
</section>
<div class="container mt-4 mb-5">
    <section class="article">

        <h1 class="mt-4 mb-5">Title of the article</h1>
        
        <div class="container mt-5">
            <p class="pl-5 pr-5">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto ipsa sit suscipit. Sequi ab alias
                fugiat sint, magni quae, neque animi maxime libero doloribus praesentium nemo deleniti harum at
                nesciunt.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos eligendi quasi, nemo enim
                architecto
                vel tempore possimus repellat nesciunt incidunt similique vitae dolore a consequuntur. Reiciendis
                soluta
                asperiores fuga aut. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum veritatis
                repellendus ipsa sed ab sint corporis facilis asperiores, alias a eaque sapiente fugiat placeat
                excepturi
                deleniti voluptatibus vero, eius optio!
            </p>
        </div>
        <div class="container text-right">
            <button type="button" class="btn btn-primary m-4" onclick="countLikes()">
                Likes <span class="badge badge-light" id="likes"></span>
            </button>
        </div>
    </section>
</div>